<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard :: head">

</head>
<body>
<header th:replace="dashboard :: header"></header>
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
    <div class="card-body d-sm-flex justify-content-between">

          <div class="mb-2 mb-sm-0 pt-1">
          <a class="btn btn-primary btn-sm" th:href="@{/categoria/crear}">Agregar</a>
          </div>

          <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Introduce el documento del cliente" aria-label="Search" class="form-control" id="searchTerm" onkeyup="doSearch()">
           

          </form>

        </div>
    
    <table class="table" id="datos">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="cate : ${categorias}">
      <td th:text="${cate.nombre}"></td>
       <td>
      </td>
    </tr>
    
    
  </tbody>
</table>
<div class="card-body d-sm-flex justify-content-between">

          <div class="mb-2 mb-sm-0 pt-1">
        
          </div>

          <div class="d-flex justify-content-center">
            <!-- Default input -->
           <nav th:replace="paginator :: paginatoor"></nav>
           

          </div>

        </div>
    </div>
    </main>
<div th:replace="dashboard :: script"></div>
</body>
</html>