<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard :: head">

</head>
<body>
<header th:replace="dashboard :: header"></header>
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
    <div th:replace="alertas :: alerta"></div>
    <div class="card-body d-sm-flex justify-content-between">

          <div class="mb-2 mb-sm-0 pt-1">
          <a class="btn btn-primary btn-sm" th:href="@{/clientes/crear}">Agregar</a>
          </div>

          <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Introduce el documento del cliente" aria-label="Search" class="form-control" id="searchTerm" onkeyup="doSearch()">
           

          </form>

        </div>
    
    <table class="table" id="datos">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombre Usuario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="clien : ${clientes}">
      <td th:text="${clien.nombre}"></td>
      <td th:text="${clien.apellidos}"></td>
      <td th:text="${clien.documento}"></td>
      <td>
       <a class="btn btn-success btn-sm" th:href="@{/ventas/}+${clien.id}">Crear Factura</a>
      <a th:href="@{/clientes/detalle/} + ${clien.id}" class="btn btn-primary btn-sm" >Ver Detalle</a>
      <a class="btn btn-warning btn-sm" th:href="@{/clientes/editar/} + ${clien.id}">Editar</a>
      
      </td>
    </tr>
    
    
  </tbody>
</table>
<div class="card-body d-sm-flex justify-content-between">

          <div class="mb-2 mb-sm-0 pt-1">
        
          </div>

          <div class="d-flex justify-content-center">
            <!-- Default input -->
           <nav th:replace="paginator :: paginatoor"></nav>
           

          </div>

        </div>
    </div>
    </main>
<div th:replace="dashboard :: script"></div>
</body>
</html>