<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sistema Venta</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link th:href="@{/css/mdb.min.css}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/css/select2.css}" rel="stylesheet">
  <script type="text/javascript" src="/js/buscador.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <link rel="icon"  type="image/png" href="https://i.blogs.es/d15cbe/650_1000_top_bannerimage_spring/450_1000.png"/>
  <style>

    .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
  </style>
</head>

<body class="grey lighten-3">
  <div th:replace="alertas :: alerta"></div>
  <!--Main Navigation-->
  <header th:fragment="header">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

      

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect" th:href="@{/}">Inicio
               
              </a>
            </li>
           
            
            
          </ul>

        

        </div>

      </div>
    </nav>
   
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="https://i.blogs.es/d15cbe/650_1000_top_bannerimage_spring/450_1000.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a th:href="@{/clientes}" class="list-group-item list-group-item-action waves-effect ">
         <i class="fas fa-user mr-3"></i>Clientes
        </a>
        <a th:href="@{/categorias}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-chart-pie mr-3"></i> Categorias</a>
       
        <a th:href="@{/productos}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-map mr-3"></i>Productos</a>
        <a th:href="@{/ventas}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Ventas</a>
          <a th:href="@{/ventas}" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Mis ventas</a>
          
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
          </h4>


        </div>

      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-9 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

             <div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://mdbootstrap.com/img/new/slides/041.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/042.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/043.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">

          <!--Card-->
          <div class="card mb-4">

          
            <!--Card content-->
           

          </div>
          <!--/.Card-->

          <!--Card-->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!-- List group links -->
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action waves-effect">Clientes
                  <span class="badge badge-success badge-pill pull-right" th:text="${contarclientes}">
                  
                  </span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Categorias
                  <span class="badge badge-danger badge-pill pull-right" th:text="${contarcate}">
                   
                  </span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Productos
                  <span class="badge badge-primary badge-pill pull-right" th:text="${contarproducto}"></span>
                </a>
                <a th:href="@{/ventas}" class="list-group-item list-group-item-action waves-effect">Ventas
                  <span class="badge badge-warning badge-pill pull-right" th:text="${contarventas}"></span>
                </a>
               
              </div>
              <!-- List group links -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->



      <!--Grid row-->
     

                  
        

             


   <footer th:fragment="footer">
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/select2.min.js}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</footer>
</body>

</html>
