<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard :: head">

</head>
<body>
<header th:replace="dashboard :: header"></header>

	<main class="pt-5 mx-lg-5">
	<div class="container-fluid mt-5">
	
	<table class="table" id="datos">
  <thead>
    <tr>
      <th scope="col">Nombre Cliente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Total</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ven : ${ventas}">
      <td th:text="${ven.cliente}"></td>
      <td th:text="${ven.fecha}"></td>
      <td th:text="${ven.total}"></td>
      <td>
       <a th:href="@{/ventas/detalle/} + ${ven.id}" class="btn btn-primary btn-sm">Ver Detalle</a>
      
      </td>
    </tr>
    
    
  </tbody>
</table>
		 <div class="card-body d-sm-flex justify-content-between">

          <div class="mb-2 mb-sm-0 pt-1">
        
          </div>

          <div class="d-flex justify-content-center">
            <!-- Default input -->
          <nav th:replace="paginator :: paginatoor"></nav>
           

          </div>

        </div>

	</div>
	</main>
	<footer th:replace="dashboard :: footer"></footer>
</body>
</html>